/* useShare.module.css */

.option {
  padding: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
}
.option .iconContainer {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
}
.option .label {
  color: #898f9f;
  font-size: 0.8615rem;
  font-weight: 400;
  text-align: left;
}

.option .icon {
  filter: brightness(0) invert(1);
}

.option:focus-visible .iconContainer,
.option:focus-within .iconContainer {
  background-color: #5f57ff;
}

.option:focus-visible .label,
.option:focus-within .label {
  color: #5f57ff;
}

.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.shareLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  background: #8d8d8d1a;
  color: #8d8d8d;
}

.shareLink .content {
  flex: 1;
  max-width: calc(100% - 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qrLabel {
  font-weight: 600;
  font-size: 0.875rem;
  color: #898f9f;
}

.qrContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
  flex-direction: column;
  gap: 1rem;
}

.closeButton {
  position: absolute;
  top: -0.275rem;
  right: -0.75rem;
  z-index: 2;
}

.container {
  position: relative;
}
.container .heading {
  padding-right: 3rem;
}

@media (min-width: 769px) {
  .optionsContainer {
    gap: 3rem;
  }
  .option {
    flex-direction: column;
  }
  .option .iconContainer {
    width: 4.5rem;
    height: 4.5rem;
  }
}
