.Container {
  --size: 2.75rem;
  padding: 1rem;
  border-radius: 10rem;
  width: var(--size);
  height: var(--size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  filter: brightness(0);
  opacity: 0.4;
  border: 1px solid #000000;
}
