.Stat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  height: 100%;
}

.PrimaryContent {
  font-size: 3.5rem;
  font-weight: 600;
  color: rgba(var(--clr-primary-rgb), 0.75);
}

.SecondaryContent {
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
  overflow: auto;
}
